@use './variables' as *;

.auth {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.messageBox {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s opacity;
    font-weight: 500;
    font-size: 1.5rem;

    border-radius: 20px;
    text-align: center;
    padding: .5rem;


    @media screen and (min-width: $desktop) {
        bottom: 3rem;
        right: 3rem;
        width: 30rem;
        height: 8rem;
    }

    @media screen and (min-width: $large-desktop) {
        top: 4rem;
        width: 30rem;
        height: 10rem;
    }

    &.bad {
        background: rgba(255, 0, 0, 0.25);
        opacity: 1;
    }

    &.good {
        background: rgba(0, 255, 0, 0.25);
        opacity: 1;
    }
}

.loginBox {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $cream-color;
    border-radius: 20px;
    gap: 1.5rem;

    @media (max-width: $mobile) {
        margin: 3rem 1rem 0 1rem;
        width: calc(100% - 2rem - 4px);
        height: 40rem;
    }

    @media (min-width: $desktop) {
        margin-top: 0rem;
        width: 40rem;
        height: 43rem;
        gap: 2rem;
        border-width: 2px !important;
    }

    @media (min-width: $large-desktop) {
        margin-top: 10rem;
        width: 46rem;
        height: 49rem;
        gap: 2rem;
        border-width: 3px !important;
    }
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginTagline {
    all: unset;
    font-size: 2.5rem;

    @media (min-width: $desktop) {
        font-size: 2.875rem;
        font-weight: 600;
    }
}

.loginSubTag {
    all: unset;
    font-size: 1rem;
    font-weight: 500;
    opacity: .5;

    @media (min-width: $desktop) {
        font-size: 1.25rem;
    }
}

.optionType {
    display: flex;
    background: $background-color;
    border-radius: 10px;
    border: black solid 2px;
    justify-content: center;
    align-items: center;
    padding: .05rem;

    width: 18rem;
    height: 3.25rem;

    @media (min-width: $desktop) {
        width: 22.75rem;
    }
}

.optionButton {
    all: unset;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    color: black;
    opacity: .5;
    cursor: pointer;
    
    width: 8.5rem;
    height: 2.5rem;
    
    @media (min-width: $desktop) {
        width: 10.5rem;
    }

    &.active {
        background: $main-color;
        color: $cream-color;
        border-radius: 10px;
        opacity: 1;
        border: black solid 1px;
    }
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.loginInput {
    all: unset;
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
    background: none;
    border: black solid 2px;

    width: 18.5rem;
    height: 3rem;
    padding-left: .75rem;

    @media (min-width: $desktop) {
        width: 33rem;
        height: 4rem;
        padding-left: 1rem;
        font-size: 1.25rem;
    }
}

.loginDivider {
    border: black 1px solid;
    width: 18rem;
    opacity: .5;

    @media (min-width: $desktop) {
        width: 33rem;
    }
}

.loginButton {
    all: unset;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s all;

    font-weight: 500;
    border-radius: 10px;
    background: none;
    border: black solid 2px;

    &.email {
        background: $main-color;
        color: $cream-color;
    }

    &.google {
        gap: .5rem;
        font-weight: 600;
    }

    &:hover {
        transform: scale(1.05);
    }

    width: 18.5rem;
    height: 3rem;
    font-size: 1rem;

    @media (min-width: $desktop) {
        width: 33rem;
        height: 4rem;
        padding-left: 1rem;
        font-size: 1.25rem;
    }
}