@use './variables' as *;

.hero{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    gap: 4rem;
    height: 100vh;

    @media (min-width: $desktop) {
        gap: 3rem;
        height: 100vh;
    }

    @media (min-width: $large-desktop) {
        gap: 6rem;
    }
}

.taglineSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tagline{
    font-weight: 600;
    margin: 0;
    text-align: center;
    font-size: 4rem;

    @media (min-width: $desktop) {
        font-size: 3.5rem;
    }

    @media (min-width: $large-desktop) {
        font-size: 6rem;
    }
}

.taglineDescription{
    font-weight: 400;
    text-align: center;
    margin: 10px 0 0 0;
    width: 90%;
    font-size: 2rem;

    @media (min-width: $desktop) {
        font-size: 1.75rem;
    }
    
    @media (min-width: $large-desktop) {
        font-size: 3rem;
    }
}

.CTAButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $cream-color;
    font-weight: 400;
    cursor: pointer;
    color: black;

    border-radius: 25px;
    width: 18rem;
    height: 6rem;
    font-size: 2rem;
    border-width: 3px;

    @media (min-width: $desktop) {
        font-size: 1.75rem;
        width: 16rem;
        height: 5.5rem;
    }

    @media (min-width: $large-desktop) {
        width: 20rem;
        height: 8rem;
        font-size: 2.5rem;
    }
}

.heroCards{
    display: flex;
    gap: 13rem;
}

.heroCardExt{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $main-color;
    padding: 1rem 1rem;
    border-radius: 15px;
    width: 21rem;
    height: 25rem;
    border: 3px solid black;
    
    &.cardOne{
        transform: translateY(-10rem) rotate(-7deg);
    }
    &.cardThree{
        transform: translateY(-10rem) rotate(7deg);
    }

    @media (min-width: $desktop) {
        border-radius: 25px;
        width: 17rem;
        height: 20rem;
    }

    @media (min-width: $large-desktop) {
        border-radius: 25px;
        width: 25rem;
        height: 30rem;
    }
}

.heroCardInner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: $cream-color;
    border-radius: 15px;
    padding: 1rem;
    height: calc(100% - 2rem);
    flex-grow: 1;

    @media (min-width: $large-desktop) {
        padding: 2rem;
        height: calc(100% - 4rem);
    }
}

.heroCardTitle{

    @media (min-width: $desktop) {
        font-size: 1.75rem;
    }

    @media (min-width: $large-desktop) {
        font-size: 2.25rem;
    }
}

.heroCardDescription{
    @media (min-width: $desktop) {
        font-size: 1.6rem;
        margin: 0;
    }

    @media (min-width: $large-desktop) {
        font-size: 2rem;
    }
}