@use './variables' as *;
@use './Navbar';
@use './Hero';
@use './Footer';
@use './Auth';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html {
    background: $background-color;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
}

.shadowAndBorder{
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.25);
    border: solid black 2px;
    transition: all .3s;
}

.buttonType{
    text-decoration: none;
    &:hover{
        box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.25);
        transform: scale(1.025);
    }
}