@use './variables' as *;

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    color: black;
}

.unLoggedInNavButton {
    display: none;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-radius: 25px;
    background: $cream-color;
    color: black;
    cursor: pointer;

    width: 15rem;
    height: 5.5rem;
    font-size: 1.6rem;
    gap: .75rem;
    border-width: 2px !important;

    @media (min-width: $desktop) {
        display: flex;
    }

    @media (min-width: $large-desktop) {
        width: 17rem;
        height: 6.5rem;
        border-width: 3px;
    }
}

.title {
    display: flex;
    font-weight: 500;

    @media (max-width: $desktop) {
        width: 12.5rem;
        height: 4.5rem;
    }
}

.logInImg {
    width: 1.5rem;
    height: 1.5rem;
}

.LoggedInNavBar {
    display: flex;
    
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-radius: 40px;
    background: $cream-color;
    width: 100%;

    @media (max-width: $mobile) {
        justify-content: center;
        font-size: 1.5rem;
        /* padding: 0 1rem; */
        height: 5rem;
    }

    @media (min-width: $desktop) {
        justify-content: space-between;
        font-size: 1.875rem;
        padding: 0 4rem;
        width: 100%;
        height: 6.5rem;
    }
}

.loggedInSection {
    display: flex;
    gap: 1.5rem;

    &.title {
        @media (max-width: $mobile) {
            display: none;
        }

        @media (min-width: $desktop) {
            display: flex;
        }
    }

    &.logo {
        @media (max-width: $mobile) {
            display: flex;
        }
        @media (min-width: $desktop) {
            display: none;
        }
    }
}

.navButton {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    gap: .5rem;
    font-size: 1.5rem;
}


.navText {
    display: none;

    @media (min-width: $desktop) {
        display: block;
    }
}

.navImg {
    
    width: 2rem;
    height: 2rem;
}

.logoImg{
    width: 4rem;
    height: auto;
}
